.contactList {
    padding-left: 20px;
}

.item {
    padding: 10px 10px;
}

.number {
    color: #f80;
}


.name {
    font-weight: 500;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 2px 7px;
    margin-left: 10px;
    border: 2px solid rgb(71, 71, 244);
    border-radius: 3px;
    background-color: #fff;
    color: black;
}

.button:hover,
.button:focus {
    background-color: rgb(71, 71, 244);
}